/* MAIN TRABAJO*/

#curriculum {
    color: $color-blanco;
}

.oferta-trabajo {
    background-color: $color-blanco;
}

.oferta-trabajo-p {
    padding: 60px;
    font-size: 1.5rem;
}

.formulario {
    border-radius: 20px;
    background-image: linear-gradient(to left, #727070 0%, rgb(0, 0, 0) 100%);
}

.formulario-h2 {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    text-shadow: 4px 4px 9px rgba(0, 0, 0, 1);
}

.formulario-p {
    text-align: center;
}

.carta-trabajo{
    max-width: 2040px;
}

/* FIN MAIN TRABAJO */